#chart_placeholder {
    text-align: center;
    max-height: 500px;
    max-width: 60%;
    text-align: center;
    text-shadow: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content:center;
    position:relative;
    margin: auto;
    margin-top: 10px;
}

input {
    margin: 10px 0px;
    border: 0;
    border-bottom: 3px solid #eee;
    box-shadow: 0 0 25px 4px rgb(0 0 0 / 6%);
    border-radius: 10px;
    width: 200px;
    height: 20px;
    padding: 10px;
    text-decoration-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:hover {
    box-shadow: 0 0 15px 3px #0094ff;
}

button {
    margin: 20px 0px;
    cursor: pointer;
    border: 0px;
    border-bottom: 1px solid #cecece;
    background: #ffffff;
    box-shadow: 0 0 20px 4px rgb(0 0 0 / 6%);
    border-radius: 8px;
    padding: 8px 14px;
    width: 200px;
    height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    box-shadow: 0 0 15px 3px #0094ff;
    background: #fff;
}

button:focus {
    outline: none;
}

select {
    width: 25%;
    padding: 10px;
    border: 0;
    border-bottom: 3px, solid, #eee;
    border-radius: 10px;
    box-shadow: 0 0 25px 4px rgb(0 0 0 / 6%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select:hover {
    box-shadow: 0 0 15px 3px #0094ff;
}

p, label {
    font-family: Gill Sans, sans-serif;
    font-size: 2em;
    text-align: center;
    margin:auto;
}

footer{
    position:fixed;
    top:95%;
}


